In [17]:
a=5
A=a
print(A)

5

In [18]:
a=5
A=a
print(A)

5

In [19]:
a= "hjblibj"
set(a)

{'b', 'h', 'i', 'j', 'l'}

In [20]:
x=6
if(x%2==0):
    print('even')
else:
    print('odd')

even

In [21]:
y=70
if(y>90):
    print('Grade A')
elif(60<y<=90):
    print('Grade B')
else:
    print('Grade F')

Grade B

In [22]:
for i in range(1,10,2):
     print(i)

1
3
5
7
9

In [23]:
def compare(a,b):
    if (a>b):
        greater = a
    else: 
        greater = b
    return greater

In [24]:
compare(10,50)

50

In [25]:
list1 = [1,2,6,9,8]
list1.append(7)

In [26]:
list1

[1, 2, 6, 9, 8, 7]

In [27]:
list1.append([5,9])

In [28]:
list1

[1, 2, 6, 9, 8, 7, [5, 9]]

In [29]:
list1 = [1,2,6,9,8]

In [30]:
list1.append([5,9])

In [31]:
list1

[1, 2, 6, 9, 8, [5, 9]]

In [32]:
list1.remove[8]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [33]:
list1.remove(9)

In [34]:
list1

[1, 2, 6, 8, [5, 9]]

In [35]:
del list1[2]

In [36]:
list1

[1, 2, 8, [5, 9]]

In [37]:
marks = {'A':50,'B':60,'C':70}

In [38]:
marks

{'A': 50, 'B': 60, 'C': 70}

In [39]:
marks['D']=80

In [40]:
marks

{'A': 50, 'B': 60, 'C': 70, 'D': 80}

In [41]:
del marks['C']

In [42]:
marks['A']

50

In [43]:
marks.update({'E':90,'F':100})

In [44]:
marks

{'A': 50, 'B': 60, 'D': 80, 'E': 90, 'F': 100}

In [45]:
del marks['F']

In [46]:
marks

{'A': 50, 'B': 60, 'D': 80, 'E': 90}

In [47]:
5>9

False

In [48]:
import pandas as pd

In [49]:
import sys 
print(sys.version_info)

sys.version_info(major=3, minor=6, micro=8, releaselevel='final', serial=0)

In [50]:
import pandas as pd

In [51]:
df=pd.read_csv('data.csv')

In [52]:
df.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1

In [53]:
import xlrd

In [54]:
df1=pd.read_excel('alcohol.xls')

In [55]:
df.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1

In [56]:
df1.head()

   A  K     X  Y
0  2  2   758  1
1  2  3  1785  1
2  3  0  1200  1
3  1  0   545  1
4  4  1   547  1

In [57]:
df.shape

(36634, 18)

In [58]:
df.head(500)

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1
5,785275,FL,CLAY COUNTY,0.0,515035.62,0.0,0.0,515035.62,884419.17,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Masonry,3
6,995932,FL,CLAY COUNTY,0.0,19260000.00,0.0,0.0,19260000.00,20610000.00,0.0,0.0,0.0,0,30.102226,-81.713882,Commercial,Reinforced Concrete,1
7,223488,FL,CLAY COUNTY,328500.0,328500.00,328500.0,328500.0,328500.00,348374.25,0.0,16425.0,0.0,0,30.102217,-81.707146,Residential,Wood,1
8,433512,FL,CLAY COUNTY,315000.0,315000.00,315000.0,315000.0,315000.00,265821.57,0.0,15750.0,0.0,0,30.118774,-81.704613,Residential,Wood,1
9,142071,FL,CLAY COUNTY,705600.0,705600.00,705600.0,705600.0,705600.00,1010842.56,14112.0,35280.0,0.0,0,30.100628,-81.703751,Residential,Masonry,1
10,253816,FL,CLAY COUNTY,831498.3,831498.30,831498.3,831498.3,831498.30,1117791.48,0.0,0.0,0.0,0,30.102160,-81.719444,Residential,Masonry,1
11,894922,FL,CLAY COUNTY,0.0,24059.09,0.0,0.0,24059.09,33952.19,0.0,0.0,0.0,0,30.095957,-81.695099,Residential,Wood,1
12,422834,FL,CLAY COUNTY,0.0,48115.94,0.0,0.0,48115.94,66755.39,0.0,0.0,0.0,0,30.100073,-81.739822,Residential,Wood,1
13,582721,FL,CLAY COUNTY,0.0,28869.12,0.0,0.0,28869.12,42826.99,0.0,0.0,0.0,0,30.092480,-81.725167,Residential,Wood,1
14,842700,FL,CLAY COUNTY,0.0,56135.64,0.0,0.0,56135.64,50656.80,0.0,0.0,0.0,0,30.101356,-81.726248,Residential,Wood,1
15,874333,FL,CLAY COUNTY,0.0,48115.94,0.0,0.0,48115.94,67905.07,0.0,0.0,0.0,0,30.113743,-81.727463,Residential,Wood,1
16,580146,FL,CLAY COUNTY,0.0,48115.94,0.0,0.0,48115.94,66938.90,0.0,0.0,0.0,0,30.121655,-81.732391,Residential,Wood,3
17,456149,FL,CLAY COUNTY,0.0,80192.49,0.0,0.0,80192.49,86421.04,0.0,0.0,0.0,0,30.109537,-81.741661,Residential,Wood,1
18,767862,FL,CLAY COUNTY,0.0,48115.94,0.0,0.0,48115.94,73798.50,0.0,0.0,0.0,0,30.118240,-81.745335,Residential,Wood,3
19,353022,FL,CLAY COUNTY,0.0,60946.79,0.0,0.0,60946.79,62467.29,0.0,0.0,0.0,0,30.065799,-81.717416,Residential,Wood,1
20,367814,FL,CLAY COUNTY,0.0,28869.12,0.0,0.0,28869.12,42727.74,0.0,0.0,0.0,0,30.082993,-81.710581,Residential,Wood,1
21,671392,FL,CLAY COUNTY,0.0,13410000.00,0.0,0.0,13410000.00,11700000.00,0.0,0.0,0.0,0,30.091921,-81.711929,Commercial,Reinforced Concrete,3
22,772887,FL,CLAY COUNTY,0.0,1669113.93,0.0,0.0,1669113.93,2099127.76,0.0,0.0,0.0,0,30.117352,-81.711884,Residential,Masonry,1
23,983122,FL,CLAY COUNTY,0.0,179562.23,0.0,0.0,179562.23,211372.57,0.0,0.0,0.0,0,30.095783,-81.713181,Residential,Wood,3
24,934215,FL,CLAY COUNTY,0.0,177744.16,0.0,0.0,177744.16,157171.16,0.0,0.0,0.0,0,30.110518,-81.727478,Residential,Wood,1
25,385951,FL,CLAY COUNTY,0.0,17757.58,0.0,0.0,17757.58,16948.72,0.0,0.0,0.0,0,30.102880,-81.705719,Residential,Wood,1
26,716332,FL,CLAY COUNTY,0.0,130129.87,0.0,0.0,130129.87,101758.43,0.0,0.0,0.0,0,30.068468,-81.716240,Residential,Wood,1
27,751262,FL,CLAY COUNTY,0.0,42854.77,0.0,0.0,42854.77,63592.88,0.0,0.0,0.0,0,30.068468,-81.716240,Residential,Wood,1
28,633663,FL,CLAY COUNTY,0.0,785.58,0.0,0.0,785.58,662.18,0.0,0.0,0.0,0,30.068468,-81.716240,Residential,Wood,1
29,105851,FL,CLAY COUNTY,0.0,170361.91,0.0,0.0,170361.91,177176.38,0.0,0.0,0.0,0,30.068468,-81.716240,Residential,Wood,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,766573,FL,MADISON COUNTY,132651.0,132651.00,132651.0,132651.0,132651.00,220996.57,0.0,0.0,0.0,0,30.416973,-83.300430,Residential,Wood,1
471,765578,FL,MADISON COUNTY,23400.0,23400.00,23400.0,23400.0,23400.00,18558.54,0.0,0.0,0.0,0,30.413880,-83.298165,Residential,Wood,3
472,166613,FL,MADISON COUNTY,0.0,0.00,0.0,0.0,5932213.89,9630000.00,0.0,0.0,0.0,0,30.396900,-83.275300,Commercial,Reinforced Masonry,4
473,883261,FL,MADISON COUNTY,977330.7,977330.70,0.0,0.0,977330.70,790445.52,0.0,0.0,0.0,0,30.396900,-83.275300,Residential,Masonry,4
474,842655,FL,MADISON COUNTY,0.0,1222262.42,0.0,0.0,1222262.42,1186037.01,0.0,0.0,0.0,0,30.423132,-83.306053,Residential,Masonry,1
475,248167,FL,SUWANNEE COUNTY,493833.6,493833.60,493833.6,493833.6,493833.60,694889.06,0.0,0.0,0.0,0,30.323061,-82.853531,Residential,Masonry,3
476,976562,FL,SUWANNEE COUNTY,305427.6,305427.60,0.0,0.0,305427.60,269112.26,0.0,0.0,0.0,0,30.377098,-83.173874,Residential,Wood,1
477,620457,FL,SUWANNEE COUNTY,288279.0,288279.00,0.0,0.0,288279.00,264045.11,0.0,0.0,0.0,0,30.297314,-82.960320,Residential,Wood,3
478,336697,FL,SUWANNEE COUNTY,0.0,910695.68,0.0,0.0,910695.68,847083.59,0.0,0.0,0.0,0,30.244864,-82.873199,Residential,Masonry,3
479,648295,FL,SUWANNEE COUNTY,0.0,14066.75,0.0,0.0,14066.75,14922.01,0.0,0.0,0.0,0,30.288500,-83.055400,Residential,Wood,4
480,858080,FL,SUWANNEE COUNTY,0.0,7571.54,0.0,0.0,7571.54,6481.05,0.0,0.0,0.0,0,30.304321,-83.012032,Residential,Wood,3
481,579910,FL,SUWANNEE COUNTY,0.0,702715.18,0.0,0.0,702715.18,644961.83,0.0,0.0,0.0,0,30.304321,-83.012032,Residential,Masonry,3
482,735184,FL,SUWANNEE COUNTY,0.0,132894.53,0.0,0.0,132894.53,153444.94,0.0,0.0,0.0,0,30.242275,-82.864685,Residential,Wood,3
483,420445,FL,SUWANNEE COUNTY,0.0,14066.75,0.0,0.0,14066.75,18409.67,0.0,0.0,0.0,0,30.288500,-83.055400,Residential,Wood,4
484,373504,FL,SUWANNEE COUNTY,0.0,113441.57,0.0,0.0,113441.57,141507.02,0.0,0.0,0.0,0,30.296335,-83.029900,Residential,Wood,1
485,266080,FL,SUWANNEE COUNTY,0.0,123449.03,0.0,0.0,123449.03,205071.55,0.0,0.0,0.0,0,30.296747,-82.977993,Residential,Wood,3
486,178535,FL,SUWANNEE COUNTY,0.0,701414.94,0.0,0.0,701414.94,951909.86,0.0,0.0,0.0,0,30.288500,-83.055400,Residential,Masonry,4
487,574531,FL,BAKER COUNTY,67590.0,67590.00,67590.0,67590.0,67590.00,57465.83,0.0,0.0,0.0,0,30.283640,-82.122090,Residential,Wood,3
488,606491,FL,BAKER COUNTY,14670.0,14670.00,14670.0,14670.0,14670.00,15491.30,0.0,0.0,0.0,0,30.283901,-82.122543,Residential,Wood,3
489,885991,FL,BAKER COUNTY,0.0,1449866.88,0.0,0.0,1449866.88,1338076.34,0.0,0.0,0.0,0,30.285202,-82.105835,Residential,Masonry,1
490,908170,FL,BAKER COUNTY,0.0,1849.32,0.0,0.0,1849.32,1987.47,0.0,0.0,0.0,0,30.285202,-82.105835,Residential,Wood,1
491,487022,FL,BAKER COUNTY,0.0,372637.98,0.0,0.0,372637.98,295022.71,0.0,0.0,0.0,0,30.285202,-82.105835,Residential,Masonry,1
492,723719,FL,BAKER COUNTY,0.0,211747.14,0.0,0.0,211747.14,369024.45,0.0,0.0,0.0,0,30.285257,-82.139542,Residential,Wood,1
493,628922,FL,BAKER COUNTY,0.0,6472.62,0.0,0.0,6472.62,4657.86,0.0,0.0,0.0,0,30.285257,-82.139542,Residential,Wood,1
494,232316,FL,BAKER COUNTY,2476576.8,2476576.80,0.0,0.0,2476576.80,2011109.14,0.0,0.0,0.0,0,30.276300,-82.127800,Commercial,Reinforced Masonry,4
495,151933,FL,BAKER COUNTY,0.0,34713.82,0.0,0.0,34713.82,44497.57,0.0,0.0,0.0,0,30.306460,-82.130900,Residential,Wood,1
496,225577,FL,BAKER COUNTY,0.0,17198.19,0.0,0.0,17198.19,19900.03,0.0,0.0,0.0,0,30.306460,-82.130900,Residential,Wood,1
497,443296,FL,BAKER COUNTY,0.0,14453.80,0.0,0.0,14453.80,25187.77,0.0,0.0,0.0,0,30.288778,-82.125183,Residential,Wood,1
498,747464,FL,BAKER COUNTY,0.0,796867.35,0.0,0.0,796867.35,1238331.86,0.0,0.0,0.0,0,30.279340,-82.139540,Residential,Masonry,3
499,548566,FL,BAKER COUNTY,0.0,1125.20,0.0,0.0,1125.20,1040.28,0.0,0.0,0.0,0,30.288778,-82.125183,Residential,Wood,1

In [59]:
df.columns

Index(['policyID', 'statecode', 'county', 'eq_site_limit', 'hu_site_limit',
       'fl_site_limit', 'fr_site_limit', 'tiv_2011', 'tiv_2012',
       'eq_site_deductible', 'hu_site_deductible', 'fl_site_deductible',
       'fr_site_deductible', 'point_latitude', 'point_longitude', 'line',
       'construction', 'point_granularity'],
      dtype='object')

In [60]:
df.rows

AttributeError: 'DataFrame' object has no attribute 'rows'

In [61]:
df['county']

0            CLAY COUNTY
1            CLAY COUNTY
2            CLAY COUNTY
3            CLAY COUNTY
4            CLAY COUNTY
5            CLAY COUNTY
6            CLAY COUNTY
7            CLAY COUNTY
8            CLAY COUNTY
9            CLAY COUNTY
10           CLAY COUNTY
11           CLAY COUNTY
12           CLAY COUNTY
13           CLAY COUNTY
14           CLAY COUNTY
15           CLAY COUNTY
16           CLAY COUNTY
17           CLAY COUNTY
18           CLAY COUNTY
19           CLAY COUNTY
20           CLAY COUNTY
21           CLAY COUNTY
22           CLAY COUNTY
23           CLAY COUNTY
24           CLAY COUNTY
25           CLAY COUNTY
26           CLAY COUNTY
27           CLAY COUNTY
28           CLAY COUNTY
29           CLAY COUNTY
              ...
36604    PINELLAS COUNTY
36605    PINELLAS COUNTY
36606    PINELLAS COUNTY
36607    PINELLAS COUNTY
36608    PINELLAS COUNTY
36609    PINELLAS COUNTY
36610    PINELLAS COUNTY
36611    PINELLAS COUNTY
36612    PINELLAS COUNTY
36613    PINELLAS COUNTY
36614    PINELLAS COUNTY
36615    PINELLAS COUNTY
36616    PINELLAS COUNTY
36617    PINELLAS COUNTY
36618    PINELLAS COUNTY
36619    PINELLAS COUNTY
36620    PINELLAS COUNTY
36621    PINELLAS COUNTY
36622    PINELLAS COUNTY
36623    PINELLAS COUNTY
36624    PINELLAS COUNTY
36625    PINELLAS COUNTY
36626    PINELLAS COUNTY
36627    PINELLAS COUNTY
36628    PINELLAS COUNTY
36629    PINELLAS COUNTY
36630    PINELLAS COUNTY
36631    PINELLAS COUNTY
36632    PINELLAS COUNTY
36633    PINELLAS COUNTY
Name: county, Length: 36634, dtype: object

In [62]:
df[['county','line','statecode']]

                county         line statecode
0          CLAY COUNTY  Residential        FL
1          CLAY COUNTY  Residential        FL
2          CLAY COUNTY  Residential        FL
3          CLAY COUNTY  Residential        FL
4          CLAY COUNTY  Residential        FL
5          CLAY COUNTY  Residential        FL
6          CLAY COUNTY   Commercial        FL
7          CLAY COUNTY  Residential        FL
8          CLAY COUNTY  Residential        FL
9          CLAY COUNTY  Residential        FL
10         CLAY COUNTY  Residential        FL
11         CLAY COUNTY  Residential        FL
12         CLAY COUNTY  Residential        FL
13         CLAY COUNTY  Residential        FL
14         CLAY COUNTY  Residential        FL
15         CLAY COUNTY  Residential        FL
16         CLAY COUNTY  Residential        FL
17         CLAY COUNTY  Residential        FL
18         CLAY COUNTY  Residential        FL
19         CLAY COUNTY  Residential        FL
20         CLAY COUNTY  Residential        FL
21         CLAY COUNTY   Commercial        FL
22         CLAY COUNTY  Residential        FL
23         CLAY COUNTY  Residential        FL
24         CLAY COUNTY  Residential        FL
25         CLAY COUNTY  Residential        FL
26         CLAY COUNTY  Residential        FL
27         CLAY COUNTY  Residential        FL
28         CLAY COUNTY  Residential        FL
29         CLAY COUNTY  Residential        FL
...                ...          ...       ...
36604  PINELLAS COUNTY  Residential        FL
36605  PINELLAS COUNTY  Residential        FL
36606  PINELLAS COUNTY  Residential        FL
36607  PINELLAS COUNTY  Residential        FL
36608  PINELLAS COUNTY  Residential        FL
36609  PINELLAS COUNTY   Commercial        FL
36610  PINELLAS COUNTY  Residential        FL
36611  PINELLAS COUNTY  Residential        FL
36612  PINELLAS COUNTY  Residential        FL
36613  PINELLAS COUNTY  Residential        FL
36614  PINELLAS COUNTY  Residential        FL
36615  PINELLAS COUNTY  Residential        FL
36616  PINELLAS COUNTY  Residential        FL
36617  PINELLAS COUNTY   Commercial        FL
36618  PINELLAS COUNTY  Residential        FL
36619  PINELLAS COUNTY  Residential        FL
36620  PINELLAS COUNTY   Commercial        FL
36621  PINELLAS COUNTY  Residential        FL
36622  PINELLAS COUNTY  Residential        FL
36623  PINELLAS COUNTY  Residential        FL
36624  PINELLAS COUNTY  Residential        FL
36625  PINELLAS COUNTY  Residential        FL
36626  PINELLAS COUNTY  Residential        FL
36627  PINELLAS COUNTY  Residential        FL
36628  PINELLAS COUNTY  Residential        FL
36629  PINELLAS COUNTY  Residential        FL
36630  PINELLAS COUNTY  Residential        FL
36631  PINELLAS COUNTY  Residential        FL
36632  PINELLAS COUNTY  Residential        FL
36633  PINELLAS COUNTY  Residential        FL

[36634 rows x 3 columns]

In [63]:
df.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1

In [64]:
df[['statecode','county','tiv_2011']]

      statecode           county     tiv_2011
0            FL      CLAY COUNTY    498960.00
1            FL      CLAY COUNTY   1322376.30
2            FL      CLAY COUNTY    190724.40
3            FL      CLAY COUNTY     79520.76
4            FL      CLAY COUNTY    254281.50
5            FL      CLAY COUNTY    515035.62
6            FL      CLAY COUNTY  19260000.00
7            FL      CLAY COUNTY    328500.00
8            FL      CLAY COUNTY    315000.00
9            FL      CLAY COUNTY    705600.00
10           FL      CLAY COUNTY    831498.30
11           FL      CLAY COUNTY     24059.09
12           FL      CLAY COUNTY     48115.94
13           FL      CLAY COUNTY     28869.12
14           FL      CLAY COUNTY     56135.64
15           FL      CLAY COUNTY     48115.94
16           FL      CLAY COUNTY     48115.94
17           FL      CLAY COUNTY     80192.49
18           FL      CLAY COUNTY     48115.94
19           FL      CLAY COUNTY     60946.79
20           FL      CLAY COUNTY     28869.12
21           FL      CLAY COUNTY  13410000.00
22           FL      CLAY COUNTY   1669113.93
23           FL      CLAY COUNTY    179562.23
24           FL      CLAY COUNTY    177744.16
25           FL      CLAY COUNTY     17757.58
26           FL      CLAY COUNTY    130129.87
27           FL      CLAY COUNTY     42854.77
28           FL      CLAY COUNTY       785.58
29           FL      CLAY COUNTY    170361.91
...         ...              ...          ...
36604        FL  PINELLAS COUNTY    492483.92
36605        FL  PINELLAS COUNTY    954000.00
36606        FL  PINELLAS COUNTY    900000.00
36607        FL  PINELLAS COUNTY   1093500.00
36608        FL  PINELLAS COUNTY    436632.30
36609        FL  PINELLAS COUNTY   1917403.20
36610        FL  PINELLAS COUNTY   1392346.80
36611        FL  PINELLAS COUNTY   1175310.00
36612        FL  PINELLAS COUNTY     47250.90
36613        FL  PINELLAS COUNTY     18630.00
36614        FL  PINELLAS COUNTY      9450.00
36615        FL  PINELLAS COUNTY    866904.30
36616        FL  PINELLAS COUNTY   1541972.70
36617        FL  PINELLAS COUNTY   3759303.60
36618        FL  PINELLAS COUNTY    717846.30
36619        FL  PINELLAS COUNTY   1728847.80
36620        FL  PINELLAS COUNTY  24210000.00
36621        FL  PINELLAS COUNTY   1331880.30
36622        FL  PINELLAS COUNTY     35408.70
36623        FL  PINELLAS COUNTY     24574.50
36624        FL  PINELLAS COUNTY     38112.30
36625        FL  PINELLAS COUNTY     18312.30
36626        FL  PINELLAS COUNTY      4522.50
36627        FL  PINELLAS COUNTY      1350.00
36628        FL  PINELLAS COUNTY      9770.40
36629        FL  PINELLAS COUNTY     88722.00
36630        FL  PINELLAS COUNTY   1297057.50
36631        FL  PINELLAS COUNTY    173286.90
36632        FL  PINELLAS COUNTY   1499781.60
36633        FL  PINELLAS COUNTY    373488.30

[36634 rows x 3 columns]

In [65]:
df.iloc[2:11]

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1
5,785275,FL,CLAY COUNTY,0.0,515035.62,0.0,0.0,515035.62,884419.17,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Masonry,3
6,995932,FL,CLAY COUNTY,0.0,19260000.00,0.0,0.0,19260000.00,20610000.00,0.0,0.0,0.0,0,30.102226,-81.713882,Commercial,Reinforced Concrete,1
7,223488,FL,CLAY COUNTY,328500.0,328500.00,328500.0,328500.0,328500.00,348374.25,0.0,16425.0,0.0,0,30.102217,-81.707146,Residential,Wood,1
8,433512,FL,CLAY COUNTY,315000.0,315000.00,315000.0,315000.0,315000.00,265821.57,0.0,15750.0,0.0,0,30.118774,-81.704613,Residential,Wood,1
9,142071,FL,CLAY COUNTY,705600.0,705600.00,705600.0,705600.0,705600.00,1010842.56,14112.0,35280.0,0.0,0,30.100628,-81.703751,Residential,Masonry,1
10,253816,FL,CLAY COUNTY,831498.3,831498.30,831498.3,831498.3,831498.30,1117791.48,0.0,0.0,0.0,0,30.102160,-81.719444,Residential,Masonry,1

In [66]:
df.iloc[:,5:11]

,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible
0,498960.0,498960.0,498960.00,792148.90,0.0,9979.2
1,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0
2,190724.4,190724.4,190724.40,192476.78,0.0,0.0
3,0.0,0.0,79520.76,86854.48,0.0,0.0
4,0.0,254281.5,254281.50,246144.49,0.0,0.0
5,0.0,0.0,515035.62,884419.17,0.0,0.0
6,0.0,0.0,19260000.00,20610000.00,0.0,0.0
7,328500.0,328500.0,328500.00,348374.25,0.0,16425.0
8,315000.0,315000.0,315000.00,265821.57,0.0,15750.0
9,705600.0,705600.0,705600.00,1010842.56,14112.0,35280.0
10,831498.3,831498.3,831498.30,1117791.48,0.0,0.0
11,0.0,0.0,24059.09,33952.19,0.0,0.0
12,0.0,0.0,48115.94,66755.39,0.0,0.0
13,0.0,0.0,28869.12,42826.99,0.0,0.0
14,0.0,0.0,56135.64,50656.80,0.0,0.0
15,0.0,0.0,48115.94,67905.07,0.0,0.0
16,0.0,0.0,48115.94,66938.90,0.0,0.0
17,0.0,0.0,80192.49,86421.04,0.0,0.0
18,0.0,0.0,48115.94,73798.50,0.0,0.0
19,0.0,0.0,60946.79,62467.29,0.0,0.0
20,0.0,0.0,28869.12,42727.74,0.0,0.0
21,0.0,0.0,13410000.00,11700000.00,0.0,0.0
22,0.0,0.0,1669113.93,2099127.76,0.0,0.0
23,0.0,0.0,179562.23,211372.57,0.0,0.0
24,0.0,0.0,177744.16,157171.16,0.0,0.0
25,0.0,0.0,17757.58,16948.72,0.0,0.0
26,0.0,0.0,130129.87,101758.43,0.0,0.0
27,0.0,0.0,42854.77,63592.88,0.0,0.0
28,0.0,0.0,785.58,662.18,0.0,0.0
29,0.0,0.0,170361.91,177176.38,0.0,0.0
...,...,...,...,...,...,...
36604,0.0,0.0,492483.92,631451.06,0.0,0.0
36605,0.0,954000.0,954000.00,1572497.28,0.0,47700.0
36606,0.0,900000.0,900000.00,811814.40,0.0,27000.0
36607,0.0,1093500.0,1093500.00,1534191.44,0.0,32805.0
36608,0.0,0.0,436632.30,688459.98,0.0,0.0
36609,1917403.2,1917403.2,1917403.20,3302918.75,0.0,0.0
36610,1392346.8,1392346.8,1392346.80,1361819.60,0.0,0.0
36611,1175310.0,1175310.0,1175310.00,1521291.88,0.0,0.0
36612,47250.9,47250.9,47250.90,37895.60,0.0,0.0
36613,18630.0,18630.0,18630.00,21790.39,0.0,0.0
36614,9450.0,9450.0,9450.00,9577.31,0.0,0.0
36615,0.0,866904.3,866904.30,1329858.94,0.0,0.0
36616,0.0,1541972.7,1541972.70,2064682.94,0.0,0.0
36617,0.0,3759303.6,3759303.60,4209183.22,0.0,0.0
36618,0.0,717846.3,717846.30,1097387.43,0.0,0.0
36619,0.0,1728847.8,1728847.80,1449908.58,0.0,0.0
36620,0.0,24210000.0,24210000.00,27000000.00,0.0,0.0
36621,0.0,1331880.3,1331880.30,1770812.11,0.0,0.0
36622,0.0,35408.7,35408.70,51588.17,0.0,0.0
36623,0.0,24574.5,24574.50,40907.70,0.0,0.0
36624,0.0,38112.3,38112.30,52710.45,0.0,0.0
36625,0.0,18312.3,18312.30,18575.81,0.0,0.0
36626,0.0,4522.5,4522.50,4048.11,0.0,0.0
36627,0.0,1350.0,1350.00,1430.16,0.0,0.0
36628,0.0,9770.4,9770.40,9349.98,0.0,0.0
36629,0.0,88722.0,88722.00,155065.65,0.0,0.0
36630,1297057.5,1297057.5,1297057.50,1577500.79,0.0,0.0
36631,0.0,0.0,173286.90,205527.97,0.0,0.0
36632,0.0,0.0,1499781.60,1768782.43,0.0,0.0
36633,0.0,0.0,373488.30,596003.67,0.0,0.0

In [67]:
mf=df[df['tiv_2011']<=200000]

In [68]:
mf.shape

(18180, 18)

In [69]:
index=pd.read_csv('index.csv')

In [70]:
index.columns

Index(['C', 'A', '8', '0', 'S', '0.1', 'COIL', '0.7', '610', '0.2', '0.3',
       '3'],
      dtype='object')

In [71]:
index['8']

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15     10
16      0
17      0
18      0
19      0
20     55
21      0
22     70
23      3
24      0
25      0
26      0
27     55
28      0
29      0
       ..
226     0
227     0
228     0
229     0
230     0
231     0
232     0
233     0
234     0
235    65
236     0
237     0
238     0
239     0
240     0
241     0
242     0
243     0
244     0
245     0
246     0
247     0
248     0
249     0
250     0
251     0
252     6
253     0
254    45
255     6
Name: 8, Length: 256, dtype: int64

In [72]:
index[['0.3','3']]

     0.3  3
0      0  3
1      0  3
2      0  3
3      0  3
4      0  3
5      0  3
6      0  3
7      0  3
8      0  3
9      0  3
10     0  3
11     0  3
12     0  3
13     0  3
14     0  3
15     0  U
16     0  U
17     0  3
18     0  3
19     0  3
20     0  3
21     0  U
22     0  3
23     0  1
24     0  3
25     0  3
26     0  3
27     0  3
28   500  3
29     0  5
..   ... ..
226    0  2
227    0  3
228    0  3
229    0  3
230    0  3
231    0  3
232    0  3
233    0  5
234    0  3
235  500  3
236    0  3
237    0  5
238    0  3
239    0  3
240    0  3
241    0  3
242  600  3
243    0  3
244    0  3
245    0  2
246    0  3
247    0  3
248    0  3
249    0  3
250    0  3
251    0  3
252    0  3
253    0  3
254    0  3
255    0  3

[256 rows x 2 columns]

In [73]:
index.iloc[:,10:12]

     0.3  3
0      0  3
1      0  3
2      0  3
3      0  3
4      0  3
5      0  3
6      0  3
7      0  3
8      0  3
9      0  3
10     0  3
11     0  3
12     0  3
13     0  3
14     0  3
15     0  U
16     0  U
17     0  3
18     0  3
19     0  3
20     0  3
21     0  U
22     0  3
23     0  1
24     0  3
25     0  3
26     0  3
27     0  3
28   500  3
29     0  5
..   ... ..
226    0  2
227    0  3
228    0  3
229    0  3
230    0  3
231    0  3
232    0  3
233    0  5
234    0  3
235  500  3
236    0  3
237    0  5
238    0  3
239    0  3
240    0  3
241    0  3
242  600  3
243    0  3
244    0  3
245    0  2
246    0  3
247    0  3
248    0  3
249    0  3
250    0  3
251    0  3
252    0  3
253    0  3
254    0  3
255    0  3

[256 rows x 2 columns]

In [74]:
index.shape

(256, 12)

In [75]:
index.iloc[246:256,:2]

     C  A
246  C  R
247  C  A
248  C  A
249  C  R
250  C  A
251  C  A
252  C  R
253  C  A
254  C  K
255  C  R

In [76]:
import re

In [77]:
result = re.match('dee','deepakshsdhgwegdiuevb')

In [78]:
result = re.match(r'dee','deepakshsdhgwegdi')

In [79]:
print (result)

<_sre.SRE_Match object; span=(0, 3), match='dee'>

In [80]:
print (result.group(0))

dee

In [81]:
result = re.match(r'dee','deepakshsdhgwegdi')
print(result).group(0)

<_sre.SRE_Match object; span=(0, 3), match='dee'>

AttributeError: 'NoneType' object has no attribute 'group'

In [82]:
result = re.match(r'dee','dee paks dee hs dee dhgwe deeg di')
print (result.end())

3

In [83]:
result = re.match(r'dee','dee paks dee hs dee dhgwe deeg di')
print (result.start())

0

In [84]:
result = re.search(r'dee','dee paks dee hs dee dhgwe deeg di')
print (result.end())

3

In [85]:
result = re.search(r'deeh','deepaksdeehsdeedhgwedeegdi')
print (result.group())

deeh

In [86]:
result.end??

In [87]:
print(result.start())

7

In [88]:
result = re.findall(r'deeh','deepaksdeehsdeehgwedeehgdeehi')
print (result)

['deeh', 'deeh', 'deeh', 'deeh']

In [89]:
result = re.split(r'dee','deepaksdeehsdeedhgwedeegdi',maxsplit=2)
print (result)

['', 'paks', 'hsdeedhgwedeegdi']

In [90]:
result = re.sub(r'dee','pak','deepaksdeehsdeedhgwedeegdi')
print (result)

pakpakspakhspakdhgwepakgdi

In [91]:
result = re.sub(r'dee','pak','de epaks dee hsdeedhgwedeegdi')
print (result)

de epaks pak hspakdhgwepakgdi

In [92]:
string = 'bhog bhogne aaye the lekin bhog ne hi humko bhog liya'
pattern = 'bhog'
search= re.compile(pattern)
result1=search.findall(string)
result2=search.findall('fhwegdv9pqwhdwhudi')
result3 = search.findall('bhog sdhhusbhogdjwd')
print (result1)
print (result2)
print (result3)

['bhog', 'bhog', 'bhog', 'bhog']
[]
['bhog', 'bhog']

In [93]:
result1=re.findall('bhog','bhogjdhwbhogh')
result2=re.findall('bhog','fhwegdv9pqwhdwhudi')
result3 = re.findall('bhog','bhog sdhhusbhogdjwd')
print (result1)
print (result2)
print (result3)

['bhog', 'bhog']
[]
['bhog', 'bhog']

In [94]:
result1=re.match('bhog','bhog jdhwbhogh')
result1.group(1)

IndexError: no such group

In [ ]:
result = re.match(r'AV', 'AV Analytics AVidhya AV')
print (result.group(1))

In [95]:
result = re.findall('.', 'AV Analytics AVidhya AV')
print(result)

['A', 'V', ' ', 'A', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's', ' ', 'A', 'V', 'i', 'd', 'h', 'y', 'a', ' ', 'A', 'V']

In [96]:
result = re.findall('\w', 'AV Analytics AVidhya AV')
print(result)

['A', 'V', 'A', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's', 'A', 'V', 'i', 'd', 'h', 'y', 'a', 'A', 'V']

In [97]:
result = re.findall('AV*', ' AV Analytics AVidhya AV ')
print(result)

['AV', 'A', 'AV', 'AV']

In [98]:
result = re.findall('AVkp?', ' AVkp Analytics AVkidhya AV ')
print(result)

['AVkp', 'AVk']

In [99]:
result = re.findall('AV?', ' AV Analytics AVidhya AV ')
print(result)

['AV', 'A', 'AV', 'AV']

In [100]:
result = re.findall('nt*', '')
print(result)

[]

# The most commonly used operators

In [101]:
result = re.findall('.', ' AVkp Analytics AVkidhya AV ')
print(result)

[' ', 'A', 'V', 'k', 'p', ' ', 'A', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's', ' ', 'A', 'V', 'k', 'i', 'd', 'h', 'y', 'a', ' ', 'A', 'V', ' ']

In [102]:
result = re.findall('AVkp?', ' AVkp Analytics AVkpidhya AVk AV ')
print(result)

['AVkp', 'AVkp', 'AVk']

In [103]:
result = re.findall('AVkp+', ' AVkp Analytics AVkpidhya AVk ')
print(result)

['AVkp', 'AVkp']

In [104]:
result = re.findall('AVkp*', ' AVkp Analytics AVkpidhya AVk AV')
print(result)

['AVkp', 'AVkp', 'AVk']

In [105]:
result = re.findall('\w', ' AVkp Analytics AVkpidhya AVk AV')
print(result)

['A', 'V', 'k', 'p', 'A', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's', 'A', 'V', 'k', 'p', 'i', 'd', 'h', 'y', 'a', 'A', 'V', 'k', 'A', 'V']

In [106]:
result = re.findall('\W', ' AVkp Analytics @#$%%AVkpidhya AVk AV')
print(result)

[' ', ' ', ' ', '@', '#', '$', '%', '%', ' ', ' ']

In [107]:
result = re.findall('AV\w', ' AVkp Analytics AVkpidhya AVk AV')
print(result)

['AVk', 'AVk', 'AVk']

In [108]:
result = re.findall('AV\W', ' AV@kp Analytics @#$%%AVkpidhya AV@k AV')
print(result)

['AV@', 'AV@']

In [109]:
result = re.findall('AV\d', ' AV5@kp561 Analytics5+95 @#$%%AVkpidhya AV@k AV')
print(result)

['AV5']

In [110]:
result = re.findall('AV\D', ' AV5@kp561 Analytics5+95 @#$%%AVkpidhya AV@k AV')
print(result)

['AVk', 'AV@']

In [111]:
result = re.findall('\s', 'AV5@kp561 Analytics5+95 @#$%%AVkpidhya AV@k AV')
print(result)

[' ', ' ', ' ', ' ']

In [112]:
result = re.findall('AV\S', 'AV5@kp561 Analytics5+95 @#$%%AVkpidhya AV@k AV')
print(result)

['AV5', 'AVk', 'AV@']

In [113]:
result = re.findall('\b', 'AV5@kp561 Analytics5+95 @#$%%AVkpidhya AV@k AV')
print(result)

[]

In [114]:
result = re.findall('\B', 'AB CD E')
print(result)

['', '']

In [115]:
result = re.findall('\w*', 'AV5@kp561 Analytics5+95 @#$%%AVkpidhya AV@k AV')
print(result)

['AV5', '', 'kp561', '', 'Analytics5', '', '95', '', '', '', '', '', '', 'AVkpidhya', '', 'AV', '', 'k', '', 'AV', '']

In [116]:
result = re.findall('\w+', 'AV5@kp561 Analytics5+95 @#$%%AVkpidhya AV@k AV')
print(result)

['AV5', 'kp561', 'Analytics5', '95', 'AVkpidhya', 'AV', 'k', 'AV']

In [117]:
result = re.findall('^\w*', 'AV5@kp561 Analytics5+95 @#$%%AVkpidhya AV@k AV')
print(result)

['AV5']

In [118]:
result = re.findall('\w+$', 'AV5@kp561 Analytics5+95 @#$%%AVkpidhya AV@k AV')
print(result)

['AV']

In [119]:
result = re.findall('\w\w', 'AV5@kp561 Analytics5+95 @#$%%AVkpidhya AV@k AV')
print(result)

['AV', 'kp', '56', 'An', 'al', 'yt', 'ic', 's5', '95', 'AV', 'kp', 'id', 'hy', 'AV', 'AV']

In [120]:
result=re.findall(r'\b\w.','AV is largest Analytics community of India')
print (result)

['AV', 'is', 'la', 'An', 'co', 'of', 'In']

In [121]:
result=re.findall(r'\B\w.','AV is largest Analytics community of India')
print (result)

['V ', 's ', 'ar', 'ge', 'st', 'na', 'ly', 'ti', 'cs', 'om', 'mu', 'ni', 'ty', 'f ', 'nd', 'ia']

In [122]:
result=re.findall(r'@\w+','abc.test@gmail.com, xyz@test.in, test.first@analyticsvidhya.com, first.test@rest.biz') 
print (result )

['@gmail', '@test', '@analyticsvidhya', '@rest']

In [123]:
result=re.findall(r'@\w+.\w+','abc.test@gmail.com, xyz@test.in, test.first@analyticsvidhya.com, first.test@rest.biz') 
print (result )

['@gmail.com', '@test.in', '@analyticsvidhya.com', '@rest.biz']

In [124]:
result=re.findall(r'@\w+.(\w+)','abc.test@gmail.com, xyz@test.in, test.first@analyticsvidhya.com, first.test@rest.biz') 
print (result )

['com', 'in', 'com', 'biz']

In [125]:
result=re.findall(r'\d{2}-\d{2}-\d{4}','Amit 34-3456 12-05-2007, XYZ 56-4532 11-11-2011, ABC 67-8945 12-01-2009')
print (result)

['12-05-2007', '11-11-2011', '12-01-2009']

In [126]:
result=re.findall(r'\w{3} \d{2}','Amit 34-3456 12-05-2007 XYZ 56-4532 11-11-2011, ABC 67-8945 12-01-2009')
print (result)

['mit 34', '456 12', 'XYZ 56', '532 11', 'ABC 67', '945 12']

In [127]:
result=re.findall(r'\d{2}-\d{2}-(\d{4})','Amit 34-3456 12-05-2007, XYZ 56-4532 11-11-2011, ABC 67-8945 12-01-2009')
print (result)

['2007', '2011', '2009']

In [128]:
result=re.findall(r'\b[aeiouAEIOU]\w+','AV is largest Analytics community of India')
print (result)

['AV', 'is', 'Analytics', 'of', 'India']

In [129]:
result=re.findall(r'\b[il]\w+','AV is largest Analytics community of India')
print (result)

['is', 'largest']

In [130]:
li =['9865789821','8291256781','7985621789','85965512']
for val in li :
  if re.match(r'[89]{1}[0-9]{9}',val) and len(val)==10 :
        print('true')
  else : print ('false')

true
true
false
false

In [131]:
line = 'asdf fjdk;afed,fjek,asdf,foo' 
result= re.split(r'[,,\s]', line)
print (result)

['asdf', 'fjdk;afed', 'fjek', 'asdf', 'foo']

In [132]:
line = 'asdf fjdk;afed,jh@fjek,asdf,foo' 
result= re.split(r'[@,f]', line)
print (result)

['asd', ' ', 'jdk;a', 'ed', 'jh', '', 'jek', 'asd', '', '', 'oo']

# Regular Expressions revision

In [133]:
import re

In [134]:
result = re.match('deepak','deepak is learning python')
print (result.group())

deepak

In [135]:
result = re.match(r'deepak','deepak is learning python')
print (result.span())

(0, 6)

In [136]:
result = re.search('deepak',' student deepak is learning ')
print ((result).end())

15

In [137]:
str = 'purple alice-b@google.com monkey dishwasher'
result = re.search(r'([\w-]*)@([\w.]+)',str)
print (result.group(0))
print ((result).group(1))
print ((result).group(2))

alice-b@google.com
alice-b
google.com

In [138]:
str = "deepak is learning the python"
result= re.findall(r'\b\w\w',str)
print(result)

['de', 'is', 'le', 'th', 'py']

In [139]:
str = "deepak is learning the python"
result= re.findall(r'\w\w',str)
print(result)

['de', 'ep', 'ak', 'is', 'le', 'ar', 'ni', 'ng', 'th', 'py', 'th', 'on']

In [140]:
import re
list=['abc.test@gmail.com','xyz@test.in','test.first@analytcs.com','first.test@rest.biz']
for i in list :
   
    r1 = re.findall(r'@\w+.\w+',i)
    print(r1)

['@gmail.com']
['@test.in']
['@analytcs.com']
['@rest.biz']

In [141]:
result=re.findall(r'@\w+.(\w+)','abc.test@gmail.com, xyz@test.in, test.first@analyticsvidhya.com, first.test@rest.biz')
print (result)

['com', 'in', 'com', 'biz']

In [142]:
result=re.findall(r'\w+-\d{4}','Amit 34-3456 12-05-2007, XYZ 56-4532 11-11-2011, ABC 67-8945 12-01-2009')
print (result)

['34-3456', '05-2007', '56-4532', '11-2011', '67-8945', '01-2009']

In [143]:
str = 'asds vfjvk ejfk ijndkv bfdve '
r = re.findall(r'\b[aeiou]\w+',str)
print(r)

['asds', 'ejfk', 'ijndkv']

In [144]:
str = 'asds vfjivk ejfk ijndkv bfdve '
r = re.findall(r'\b[aeiou]\w+',str)
print(r)

['asds', 'ejfk', 'ijndkv']

In [145]:
str = 'asds vfjivk ejfk ijndkv bfdve '
r = re.findall(r'[aeiou]\w+\b',str)
print(r)

['asds', 'ivk', 'ejfk', 'ijndkv']

In [146]:
import sys

In [147]:
print(sys.version)

3.6.8 |Anaconda, Inc.| (default, Dec 30 2018, 01:22:34)
[GCC 7.3.0]

In [148]:
import pandas as pd
dates = pd.date_range('20130101', periods=6)

In [149]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [150]:
dates = pd.date_range('01012015', periods=6)

ValueError: could not convert string to Timestamp

In [151]:
dates = pd.date_range('20132901', periods=6)

ValueError: could not convert string to Timestamp

In [152]:
dates = pd.date_range('20130129', periods=6)

In [153]:
dates

DatetimeIndex(['2013-01-29', '2013-01-30', '2013-01-31', '2013-02-01',
               '2013-02-02', '2013-02-03'],
              dtype='datetime64[ns]', freq='D')