In [1]:
a=5
A=a
print(A)

5

In [2]:
a=5
A=a
print(A)

5

In [3]:
a= "hjblibj"
set(a)

{'b', 'h', 'i', 'j', 'l'}

In [4]:
x=6
if(x%2==0):
    print('even')
else:
    print('odd')

even

In [5]:
y=70
if(y>90):
    print('Grade A')
elif(60<y<=90):
    print('Grade B')
else:
    print('Grade F')

Grade B

In [6]:
for i in range(1,10,2):
     print(i)

1
3
5
7
9

In [7]:
def compare(a,b):
    if (a>b):
        greater = a
    else: 
        greater = b
    return greater

In [8]:
compare(10,50)

50

In [9]:
list1 = [1,2,6,9,8]
list1.append(7)

In [10]:
list1

[1, 2, 6, 9, 8, 7]

In [11]:
list1.append([5,9])

In [12]:
list1

[1, 2, 6, 9, 8, 7, [5, 9]]

In [13]:
list1 = [1,2,6,9,8]

In [14]:
list1.append([5,9])

In [15]:
list1

[1, 2, 6, 9, 8, [5, 9]]

In [20]:
list1.remove(9)

In [21]:
list1

[1, 2, 6, 8, [5, 9]]

In [22]:
del list1[2]

In [23]:
list1

[1, 2, 8, [5, 9]]

In [24]:
marks = {'A':50,'B':60,'C':70}

In [25]:
marks

{'A': 50, 'B': 60, 'C': 70}

In [26]:
marks['D']=80

In [27]:
marks

{'A': 50, 'B': 60, 'C': 70, 'D': 80}

In [28]:
del marks['C']

In [29]:
marks['A']

50

In [30]:
marks.update({'E':90,'F':100})

In [31]:
marks

{'A': 50, 'B': 60, 'D': 80, 'E': 90, 'F': 100}

In [32]:
del marks['F']

In [33]:
marks

{'A': 50, 'B': 60, 'D': 80, 'E': 90}

In [34]:
5>9

False

In [35]:
import pandas as pd

In [36]:
import sys 
print(sys.version_info)

sys.version_info(major=3, minor=7, micro=3, releaselevel='final', serial=0)

In [37]:
import pandas as pd

In [38]:
df=pd.read_csv('data.csv')

In [39]:
df.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1

In [40]:
import xlrd

In [41]:
df1=pd.read_excel('alcohol.xls')

In [42]:
df.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1

In [43]:
df1.head()

   A  K     X  Y
0  2  2   758  1
1  2  3  1785  1
2  3  0  1200  1
3  1  0   545  1
4  4  1   547  1

In [44]:
df.shape

(36634, 18)

In [45]:
df.head(500)

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,151933,FL,BAKER COUNTY,0.0,34713.82,0.0,0.0,34713.82,44497.57,0.0,0.0,0.0,0,30.306460,-82.130900,Residential,Wood,1
496,225577,FL,BAKER COUNTY,0.0,17198.19,0.0,0.0,17198.19,19900.03,0.0,0.0,0.0,0,30.306460,-82.130900,Residential,Wood,1
497,443296,FL,BAKER COUNTY,0.0,14453.80,0.0,0.0,14453.80,25187.77,0.0,0.0,0.0,0,30.288778,-82.125183,Residential,Wood,1
498,747464,FL,BAKER COUNTY,0.0,796867.35,0.0,0.0,796867.35,1238331.86,0.0,0.0,0.0,0,30.279340,-82.139540,Residential,Masonry,3
499,548566,FL,BAKER COUNTY,0.0,1125.20,0.0,0.0,1125.20,1040.28,0.0,0.0,0.0,0,30.288778,-82.125183,Residential,Wood,1

In [46]:
df.columns

Index(['policyID', 'statecode', 'county', 'eq_site_limit', 'hu_site_limit',
       'fl_site_limit', 'fr_site_limit', 'tiv_2011', 'tiv_2012',
       'eq_site_deductible', 'hu_site_deductible', 'fl_site_deductible',
       'fr_site_deductible', 'point_latitude', 'point_longitude', 'line',
       'construction', 'point_granularity'],
      dtype='object')

In [47]:
df.rows

AttributeError: 'DataFrame' object has no attribute 'rows'

In [48]:
df['county']

0            CLAY COUNTY
1            CLAY COUNTY
2            CLAY COUNTY
3            CLAY COUNTY
4            CLAY COUNTY
              ...
36629    PINELLAS COUNTY
36630    PINELLAS COUNTY
36631    PINELLAS COUNTY
36632    PINELLAS COUNTY
36633    PINELLAS COUNTY
Name: county, Length: 36634, dtype: object

In [49]:
df[['county','line','statecode']]

                county         line statecode
0          CLAY COUNTY  Residential        FL
1          CLAY COUNTY  Residential        FL
2          CLAY COUNTY  Residential        FL
3          CLAY COUNTY  Residential        FL
4          CLAY COUNTY  Residential        FL
...                ...          ...       ...
36629  PINELLAS COUNTY  Residential        FL
36630  PINELLAS COUNTY  Residential        FL
36631  PINELLAS COUNTY  Residential        FL
36632  PINELLAS COUNTY  Residential        FL
36633  PINELLAS COUNTY  Residential        FL

[36634 rows x 3 columns]

In [50]:
df.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1

In [51]:
df[['statecode','county','tiv_2011']]

      statecode           county    tiv_2011
0            FL      CLAY COUNTY   498960.00
1            FL      CLAY COUNTY  1322376.30
2            FL      CLAY COUNTY   190724.40
3            FL      CLAY COUNTY    79520.76
4            FL      CLAY COUNTY   254281.50
...         ...              ...         ...
36629        FL  PINELLAS COUNTY    88722.00
36630        FL  PINELLAS COUNTY  1297057.50
36631        FL  PINELLAS COUNTY   173286.90
36632        FL  PINELLAS COUNTY  1499781.60
36633        FL  PINELLAS COUNTY   373488.30

[36634 rows x 3 columns]

In [52]:
df.iloc[2:11]

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1
5,785275,FL,CLAY COUNTY,0.0,515035.62,0.0,0.0,515035.62,884419.17,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Masonry,3
6,995932,FL,CLAY COUNTY,0.0,19260000.00,0.0,0.0,19260000.00,20610000.00,0.0,0.0,0.0,0,30.102226,-81.713882,Commercial,Reinforced Concrete,1
7,223488,FL,CLAY COUNTY,328500.0,328500.00,328500.0,328500.0,328500.00,348374.25,0.0,16425.0,0.0,0,30.102217,-81.707146,Residential,Wood,1
8,433512,FL,CLAY COUNTY,315000.0,315000.00,315000.0,315000.0,315000.00,265821.57,0.0,15750.0,0.0,0,30.118774,-81.704613,Residential,Wood,1
9,142071,FL,CLAY COUNTY,705600.0,705600.00,705600.0,705600.0,705600.00,1010842.56,14112.0,35280.0,0.0,0,30.100628,-81.703751,Residential,Masonry,1
10,253816,FL,CLAY COUNTY,831498.3,831498.30,831498.3,831498.3,831498.30,1117791.48,0.0,0.0,0.0,0,30.102160,-81.719444,Residential,Masonry,1

In [53]:
df.iloc[:,5:11]

,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible
0,498960.0,498960.0,498960.00,792148.90,0.0,9979.2
1,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0
2,190724.4,190724.4,190724.40,192476.78,0.0,0.0
3,0.0,0.0,79520.76,86854.48,0.0,0.0
4,0.0,254281.5,254281.50,246144.49,0.0,0.0
...,...,...,...,...,...,...
36629,0.0,88722.0,88722.00,155065.65,0.0,0.0
36630,1297057.5,1297057.5,1297057.50,1577500.79,0.0,0.0
36631,0.0,0.0,173286.90,205527.97,0.0,0.0
36632,0.0,0.0,1499781.60,1768782.43,0.0,0.0
36633,0.0,0.0,373488.30,596003.67,0.0,0.0

In [54]:
mf=df[df['tiv_2011']<=200000]

In [55]:
mf.shape

(18180, 18)

In [56]:
index=pd.read_csv('index.csv')

In [57]:
index.columns

Index(['C', 'A', '8', '0', 'S', '0.1', 'COIL', '0.7', '610', '0.2', '0.3',
       '3'],
      dtype='object')

In [58]:
index['8']

0       0
1       0
2       0
3       0
4       0
       ..
251     0
252     6
253     0
254    45
255     6
Name: 8, Length: 256, dtype: int64

In [59]:
index[['0.3','3']]

     0.3  3
0      0  3
1      0  3
2      0  3
3      0  3
4      0  3
..   ... ..
251    0  3
252    0  3
253    0  3
254    0  3
255    0  3

[256 rows x 2 columns]

In [60]:
index.iloc[:,10:12]

     0.3  3
0      0  3
1      0  3
2      0  3
3      0  3
4      0  3
..   ... ..
251    0  3
252    0  3
253    0  3
254    0  3
255    0  3

[256 rows x 2 columns]

In [61]:
index.shape

(256, 12)

In [62]:
index.iloc[246:256,:2]

     C  A
246  C  R
247  C  A
248  C  A
249  C  R
250  C  A
251  C  A
252  C  R
253  C  A
254  C  K
255  C  R

In [63]:
import re

In [64]:
result = re.match('dee','deepakshsdhgwegdiuevb')

In [65]:
result = re.match(r'dee','deepakshsdhgwegdi')

In [66]:
print (result)

<re.Match object; span=(0, 3), match='dee'>

In [67]:
print (result.group(0))

dee

In [68]:
result = re.match(r'dee','deepakshsdhgwegdi')
print(result).group(0)

<re.Match object; span=(0, 3), match='dee'>

AttributeError: 'NoneType' object has no attribute 'group'

In [69]:
result = re.match(r'dee','dee paks dee hs dee dhgwe deeg di')
print (result.end())

3

In [70]:
result = re.match(r'dee','dee paks dee hs dee dhgwe deeg di')
print (result.start())

0

In [71]:
result = re.search(r'dee','dee paks dee hs dee dhgwe deeg di')
print (result.end())

3

In [72]:
result = re.search(r'deeh','deepaksdeehsdeedhgwedeegdi')
print (result.group())

deeh

In [73]:
result.end??

In [74]:
print(result.start())

7

In [75]:
result = re.findall(r'deeh','deepaksdeehsdeehgwedeehgdeehi')
print (result)

['deeh', 'deeh', 'deeh', 'deeh']

In [76]:
result = re.split(r'dee','deepaksdeehsdeedhgwedeegdi',maxsplit=2)
print (result)

['', 'paks', 'hsdeedhgwedeegdi']

In [77]:
result = re.sub(r'dee','pak','deepaksdeehsdeedhgwedeegdi')
print (result)

pakpakspakhspakdhgwepakgdi

In [78]:
result = re.sub(r'dee','pak','de epaks dee hsdeedhgwedeegdi')
print (result)

de epaks pak hspakdhgwepakgdi

In [79]:
string = 'bhog bhogne aaye the lekin bhog ne hi humko bhog liya'
pattern = 'bhog'
search= re.compile(pattern)
result1=search.findall(string)
result2=search.findall('fhwegdv9pqwhdwhudi')
result3 = search.findall('bhog sdhhusbhogdjwd')
print (result1)
print (result2)
print (result3)

['bhog', 'bhog', 'bhog', 'bhog']
[]
['bhog', 'bhog']

In [80]:
result1=re.findall('bhog','bhogjdhwbhogh')
result2=re.findall('bhog','fhwegdv9pqwhdwhudi')
result3 = re.findall('bhog','bhog sdhhusbhogdjwd')
print (result1)
print (result2)
print (result3)

['bhog', 'bhog']
[]
['bhog', 'bhog']

In [81]:
result1=re.match('bhog','bhog jdhwbhogh')
result1.group(1)

IndexError: no such group

In [82]:
result = re.match(r'AV', 'AV Analytics AVidhya AV')
print (result.group(1))

IndexError: no such group

In [83]:
result = re.findall('.', 'AV Analytics AVidhya AV')
print(result)

['A', 'V', ' ', 'A', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's', ' ', 'A', 'V', 'i', 'd', 'h', 'y', 'a', ' ', 'A', 'V']

In [84]:
result = re.findall('\w', 'AV Analytics AVidhya AV')
print(result)

['A', 'V', 'A', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's', 'A', 'V', 'i', 'd', 'h', 'y', 'a', 'A', 'V']

In [85]:
result = re.findall('AV*', ' AV Analytics AVidhya AV ')
print(result)

['AV', 'A', 'AV', 'AV']

In [86]:
result = re.findall('AVkp?', ' AVkp Analytics AVkidhya AV ')
print(result)

['AVkp', 'AVk']

In [87]:
result = re.findall('AV?', ' AV Analytics AVidhya AV ')
print(result)

['AV', 'A', 'AV', 'AV']

In [88]:
result = re.findall('nt*', '')
print(result)

[]

# The most commonly used operators

In [89]:
result = re.findall('.', ' AVkp Analytics AVkidhya AV ')
print(result)

[' ', 'A', 'V', 'k', 'p', ' ', 'A', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's', ' ', 'A', 'V', 'k', 'i', 'd', 'h', 'y', 'a', ' ', 'A', 'V', ' ']

In [90]:
result = re.findall('AVkp?', ' AVkp Analytics AVkpidhya AVk AV ')
print(result)

['AVkp', 'AVkp', 'AVk']

In [91]:
result = re.findall('AVkp+', ' AVkp Analytics AVkpidhya AVk ')
print(result)

['AVkp', 'AVkp']

In [92]:
result = re.findall('AVkp*', ' AVkp Analytics AVkpidhya AVk AV')
print(result)

['AVkp', 'AVkp', 'AVk']

In [93]:
result = re.findall('\w', ' AVkp Analytics AVkpidhya AVk AV')
print(result)

['A', 'V', 'k', 'p', 'A', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's', 'A', 'V', 'k', 'p', 'i', 'd', 'h', 'y', 'a', 'A', 'V', 'k', 'A', 'V']

In [94]:
result = re.findall('\W', ' AVkp Analytics @#$%%AVkpidhya AVk AV')
print(result)

[' ', ' ', ' ', '@', '#', '$', '%', '%', ' ', ' ']

In [95]:
result = re.findall('AV\w', ' AVkp Analytics AVkpidhya AVk AV')
print(result)

['AVk', 'AVk', 'AVk']

In [96]:
result = re.findall('AV\W', ' AV@kp Analytics @#$%%AVkpidhya AV@k AV')
print(result)

['AV@', 'AV@']

In [97]:
result = re.findall('AV\d', ' AV5@kp561 Analytics5+95 @#$%%AVkpidhya AV@k AV')
print(result)

['AV5']

In [98]:
result = re.findall('AV\D', ' AV5@kp561 Analytics5+95 @#$%%AVkpidhya AV@k AV')
print(result)

['AVk', 'AV@']

In [99]:
result = re.findall('\s', 'AV5@kp561 Analytics5+95 @#$%%AVkpidhya AV@k AV')
print(result)

[' ', ' ', ' ', ' ']

In [100]:
result = re.findall('AV\S', 'AV5@kp561 Analytics5+95 @#$%%AVkpidhya AV@k AV')
print(result)

['AV5', 'AVk', 'AV@']

In [101]:
result = re.findall('\b', 'AV5@kp561 Analytics5+95 @#$%%AVkpidhya AV@k AV')
print(result)

[]

In [102]:
result = re.findall('\B', 'AB CD E')
print(result)

['', '']

In [103]:
result = re.findall('\w*', 'AV5@kp561 Analytics5+95 @#$%%AVkpidhya AV@k AV')
print(result)

['AV5', '', 'kp561', '', 'Analytics5', '', '95', '', '', '', '', '', '', 'AVkpidhya', '', 'AV', '', 'k', '', 'AV', '']

In [104]:
result = re.findall('\w+', 'AV5@kp561 Analytics5+95 @#$%%AVkpidhya AV@k AV')
print(result)

['AV5', 'kp561', 'Analytics5', '95', 'AVkpidhya', 'AV', 'k', 'AV']

In [105]:
result = re.findall('^\w*', 'AV5@kp561 Analytics5+95 @#$%%AVkpidhya AV@k AV')
print(result)

['AV5']

In [106]:
result = re.findall('\w+$', 'AV5@kp561 Analytics5+95 @#$%%AVkpidhya AV@k AV')
print(result)

['AV']

In [107]:
result = re.findall('\w\w', 'AV5@kp561 Analytics5+95 @#$%%AVkpidhya AV@k AV')
print(result)

['AV', 'kp', '56', 'An', 'al', 'yt', 'ic', 's5', '95', 'AV', 'kp', 'id', 'hy', 'AV', 'AV']

In [108]:
result=re.findall(r'\b\w.','AV is largest Analytics community of India')
print (result)

['AV', 'is', 'la', 'An', 'co', 'of', 'In']

In [109]:
result=re.findall(r'\B\w.','AV is largest Analytics community of India')
print (result)

['V ', 's ', 'ar', 'ge', 'st', 'na', 'ly', 'ti', 'cs', 'om', 'mu', 'ni', 'ty', 'f ', 'nd', 'ia']

In [110]:
result=re.findall(r'@\w+','abc.test@gmail.com, xyz@test.in, test.first@analyticsvidhya.com, first.test@rest.biz') 
print (result )

['@gmail', '@test', '@analyticsvidhya', '@rest']

In [111]:
result=re.findall(r'@\w+.\w+','abc.test@gmail.com, xyz@test.in, test.first@analyticsvidhya.com, first.test@rest.biz') 
print (result )

['@gmail.com', '@test.in', '@analyticsvidhya.com', '@rest.biz']

In [112]:
result=re.findall(r'@\w+.(\w+)','abc.test@gmail.com, xyz@test.in, test.first@analyticsvidhya.com, first.test@rest.biz') 
print (result )

['com', 'in', 'com', 'biz']

In [113]:
result=re.findall(r'\d{2}-\d{2}-\d{4}','Amit 34-3456 12-05-2007, XYZ 56-4532 11-11-2011, ABC 67-8945 12-01-2009')
print (result)

['12-05-2007', '11-11-2011', '12-01-2009']

In [114]:
result=re.findall(r'\w{3} \d{2}','Amit 34-3456 12-05-2007 XYZ 56-4532 11-11-2011, ABC 67-8945 12-01-2009')
print (result)

['mit 34', '456 12', 'XYZ 56', '532 11', 'ABC 67', '945 12']

In [115]:
result=re.findall(r'\d{2}-\d{2}-(\d{4})','Amit 34-3456 12-05-2007, XYZ 56-4532 11-11-2011, ABC 67-8945 12-01-2009')
print (result)

['2007', '2011', '2009']

In [116]:
result=re.findall(r'\b[aeiouAEIOU]\w+','AV is largest Analytics community of India')
print (result)

['AV', 'is', 'Analytics', 'of', 'India']

In [117]:
result=re.findall(r'\b[il]\w+','AV is largest Analytics community of India')
print (result)

['is', 'largest']

In [118]:
li =['9865789821','8291256781','7985621789','85965512']
for val in li :
  if re.match(r'[89]{1}[0-9]{9}',val) and len(val)==10 :
        print('true')
  else : print ('false')

true
true
false
false

In [119]:
line = 'asdf fjdk;afed,fjek,asdf,foo' 
result= re.split(r'[,,\s]', line)
print (result)

['asdf', 'fjdk;afed', 'fjek', 'asdf', 'foo']

In [120]:
line = 'asdf fjdk;afed,jh@fjek,asdf,foo' 
result= re.split(r'[@,f]', line)
print (result)

['asd', ' ', 'jdk;a', 'ed', 'jh', '', 'jek', 'asd', '', '', 'oo']

# Regular Expressions revision

In [121]:
import re

In [122]:
result = re.match('deepak','deepak is learning python')
print (result.group())

deepak

In [123]:
result = re.match(r'deepak','deepak is learning python')
print (result.span())

(0, 6)

In [124]:
result = re.search('deepak',' student deepak is learning ')
print ((result).end())

15

In [125]:
str = 'purple alice-b@google.com monkey dishwasher'
result = re.search(r'([\w-]*)@([\w.]+)',str)
print (result.group(0))
print ((result).group(1))
print ((result).group(2))

alice-b@google.com
alice-b
google.com

In [126]:
str = "deepak is learning the python"
result= re.findall(r'\b\w\w',str)
print(result)

['de', 'is', 'le', 'th', 'py']

In [127]:
str = "deepak is learning the python"
result= re.findall(r'\w\w',str)
print(result)

['de', 'ep', 'ak', 'is', 'le', 'ar', 'ni', 'ng', 'th', 'py', 'th', 'on']

In [128]:
import re
list=['abc.test@gmail.com','xyz@test.in','test.first@analytcs.com','first.test@rest.biz']
for i in list :
   
    r1 = re.findall(r'@\w+.\w+',i)
    print(r1)

['@gmail.com']
['@test.in']
['@analytcs.com']
['@rest.biz']

In [129]:
result=re.findall(r'@\w+.(\w+)','abc.test@gmail.com, xyz@test.in, test.first@analyticsvidhya.com, first.test@rest.biz')
print (result)

['com', 'in', 'com', 'biz']

In [130]:
result=re.findall(r'\w+-\d{4}','Amit 34-3456 12-05-2007, XYZ 56-4532 11-11-2011, ABC 67-8945 12-01-2009')
print (result)

['34-3456', '05-2007', '56-4532', '11-2011', '67-8945', '01-2009']

In [131]:
str = 'asds vfjvk ejfk ijndkv bfdve '
r = re.findall(r'\b[aeiou]\w+',str)
print(r)

['asds', 'ejfk', 'ijndkv']

In [132]:
str = 'asds vfjivk ejfk ijndkv bfdve '
r = re.findall(r'\b[aeiou]\w+',str)
print(r)

['asds', 'ejfk', 'ijndkv']

In [133]:
str = 'asds vfjivk ejfk ijndkv bfdve '
r = re.findall(r'[aeiou]\w+\b',str)
print(r)

['asds', 'ivk', 'ejfk', 'ijndkv']

In [134]:
import sys

In [135]:
print(sys.version)

3.7.3 (default, Mar 27 2019, 17:13:21) [MSC v.1915 64 bit (AMD64)]

In [136]:
import pandas as pd
dates = pd.date_range('20130101', periods=6)

In [137]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [138]:
dates = pd.date_range('01012015', periods=6)

ValueError: could not convert string to Timestamp

In [139]:
dates = pd.date_range('20132901', periods=6)

ValueError: could not convert string to Timestamp

In [140]:
dates = pd.date_range('20130129', periods=6)

In [141]:
dates

DatetimeIndex(['2013-01-29', '2013-01-30', '2013-01-31', '2013-02-01',
               '2013-02-02', '2013-02-03'],
              dtype='datetime64[ns]', freq='D')

In [146]:
for i in range(10,15):
     print(i)

10
11
12
13
14

In [148]:
list=['a','b','c']
for i in list:
    print (i)

a
b
c

In [149]:
tuple=('a','b','c')
for i in tuple:
    print (i)

a
b
c

In [151]:
string="Deepak Sharma"
for i in string:
    print(i)

D
e
e
p
a
k

S
h
a
r
m
a

In [156]:
for letters in "deepak" :
    if letters=="k":
        continue
    print ("current letter :", letters)

current letter : d
current letter : e
current letter : e
current letter : p
current letter : a

In [159]:
for letters in "deepak" :
    if letters=="p":
        break
    print ("current letter :", letters)

current letter : d
current letter : e
current letter : e

In [161]:
sum=0
for i in range (10):
    sum=sum+i
print(sum)

45

# Stratified K-Fold

In [237]:
from sklearn.model_selection import StratifiedKFold
import numpy as np
X = np.array([[1, 2], [3, 4], [5, 6], [7, 8],[9,10],[11,12]])
Y = np.array([0, 1, 0, 1,1,0])
skf = StratifiedKFold(n_splits=3)
skf.get_n_splits(X, Y)

3

In [238]:
for r, s in skf.split(X, Y):
        print("TRAIN:", r, "TEST:", s)
        X_train, X_test = X[r], X[s]
        Y_train, Y_test = Y[r], Y[s]

TRAIN: [2 3 4 5] TEST: [0 1]
TRAIN: [0 1 4 5] TEST: [2 3]
TRAIN: [0 1 2 3] TEST: [4 5]